@font-face {
    font-family: "Chinese Rocks";
    src: url("chinese\ rocks\ rg.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #CB0101;
    padding: 5px;
    text-align: center;
    border-style: outset;
    border-color: #CB0101;
}

header > div,nav{
    place-content: center;
}

input[type="submit"]{
    font-family: inherit; /*Hace que se herede la fuente de body en vez de cambiarse*/
}

body {
    font-family: "Chinese Rocks", sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 40px; /* header - main - footer */
    margin:0;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main > .main_content,
main > aside {
    overflow-y: auto; /* Adds a scrollbar ONLY if needed */
    min-height: 0;    /* Allows the sections to shrink properly in the grid */
}

.main_content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 30px;
    text-align: center;
}

.main_container1 {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.main_container1 > div {
    display: grid;
    place-content: center;
    background-color:#AF814E;
}

.carrusel_content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* esto centra al texto en toda la celda */
    overflow: hidden; /* evita que sobresalga */
}
.carrusel_content img {
    position: absolute;
    inset: 0; /* ocupa toda la celda */
    width: 100%;
    height: 100%;
    object-fit: cover; /* se ajusta sin deformarse */
    z-index: 0;
}
.text {
  position: absolute;
}

/* esquinas */
.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.center {
    position: relative;
    z-index: 1;
}


.banner{
    background-image: url(banner.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100%;
    background-attachment:initial;
}

.banner *{
    margin:0;
}

/*le añado sombra beige al texto para resaltarlo, con 30% opacidad*/
.banner_text{
    text-shadow: 0 0 5px rgba(245, 245, 220, 30);
}

.carrusel{
    padding:10px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;

}

.main_container2 {
    display: grid;
    grid-template-rows: auto;
    min-height: 0;
    padding:5px;
    background-color: #C8A272;
}

.main_container2 > div {
    display: grid;
    place-content: center;
    background-color: #AF814E;
}

.cuadricula{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 200px 200px;  
    gap: 10px;
    padding:10px;
}
.cuadricula > div {
    
    overflow: hidden; 
    position: relative;
}
.cuadricula img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantiene proporción y llena el espacio */
    display: block;
}

aside{
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: #AF814E;
    padding: 30px;
    text-align: center;
}
aside > div {
    background-color: #C8A272;
    padding: 10px;
}

aside form {
    justify-self: stretch;      /* que se estire horizontalmente */
    display: grid;              /* para organizar inputs */
    justify-content: center;    /* centra verticalmente dentro del form */
    height: 100%;               /* muy importante: llena su celda */
}

aside ol {
    list-style-position: inside;
    padding: 0; /* Good practice to remove default browser spacing */
}
aside ul {
    padding: 0;
}

.form_container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form_container > * {
    padding: 5px;
}

input[type="button"] {
    font-family: "Chinese Rocks", sans-serif;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #CB0101;
    text-align: center;
    border-style: outset;
    border-color: #CB0101;

}

.white_text{
    color:whitesmoke;
}

h1,h2,h3,p{
    letter-spacing: 0.07em;
}
.redes,
.izq,
.centro {
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}