main {
    display: flex;
    background-color: #af824e;
    padding: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  #C8A272;
    padding: 7%;
    padding-top: 4%;
    padding-bottom: 1%;
    margin: 0;
    border-radius: 5px;
}

h1 {
    margin-block-start: 0;
}

main > form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;

}

main > form > div > input[type="button"] {
    font-size: 90%;
}

input[type="text"] {
    height: 100%;
}

a {
    color: hwb(240 0% 0% / 0.779);
}