body{
    margin:0;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../images/map.jpg);
    min-height: 100vh;
    overflow:hidden;
}

aside{
    background-color: #af824e00;
}

aside > div {
    background-color: #af824e00;
}

section {
    background-color: #C8A272;
    border-radius: 5px;
    padding: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #5e452b;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);    
}

form[name="compra"] {
    border: 1px solid #5e452b;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);    
}

h2 {
    text-align: left;
    margin-block-start: 0;
}

p {
    text-align: left;
    color: #1a1a1a;
}

main {
    background-image: none;
}

.wide {
    width: 100%;
}

.not_wide {
    width: 26%;
}

.spacing {
    justify-content: space-evenly;
}

.top-left{
    font-size: 120%;
    padding:3%;
}

.top-right{
    font-size: 150%;
    padding:3%;
}

.button {
    font-family: inherit;
}

@media screen and (max-width:600px)
{  
.grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}
}