.carrusel {
    position: relative;
    height:100%;
    overflow: hidden;
}

.carrusel-track {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
}

.carrusel-item {
    position: relative;
    height: 300px;
    min-width: 100%;
    object-fit: cover;
}
